/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

  #form_submitted{
    position: relative;
    top: 50px;
  }
  
  #Functions .button {
    position: relative;
    background-color: red;
    border: 1px solid black;
    color: white;
    width: 100%;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 10px 5px;
    cursor: pointer;
    top: 30px;
    margin-bottom: 30px;
  }
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  #Functions .button {
    position: relative;
    background-color: red;
    border: 1px solid black;
    color: white;
    width: 100%;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 10px 5px;
    cursor: pointer;
    top: 30px;
    margin-bottom: 30px;
  }
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #Functions{
    display: flex;
    justify-content: space-between;
  }

  #Functions .button {
    background-color: red;
    border: 1px solid black;
    color: white;
    width: 30%;
    height: 70px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 5px;
    cursor: pointer;
    margin-bottom: 30px;
    position: relative;
  }


  #liveDeparture
  {
    padding: 14px 16px;

    margin: 15px;
    background-color: #f2f2f2;
  }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
   #Functions{
    display: flex;
    justify-content: space-between;
  }

  #Functions .button {
    background-color: red;
    border: 1px solid black;
    color: white;
    width: 30%;
    height: auto;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 5px;
    cursor: pointer;
    margin-bottom: 30px;
    position: relative;
  }


  #liveDeparture
  {
    padding: 14px 16px;

    margin: 15px;
    background-color: #f2f2f2;
  }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

  #Functions{
    display: flex;
    justify-content: space-between;
  }

  #Functions .button {
    background-color: red;
    border: 1px solid black;
    color: white;
    width: 30%;
    height: auto;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 5px;
    cursor: pointer;
    margin-bottom: 30px;
    position: relative;
  }


  #liveDeparture
  {
    padding: 14px 16px;

    margin: 15px;
    background-color: #f2f2f2;
  }
}